header{
    height: 90px;
    background-color:#3b4148;
    margin:0;
    box-sizing: border-box;
    padding: 20px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    h1,p{
        color:#bde0fe;
        margin:0;
    }
    div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width:200px;
        img{
            width:50px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
}
